body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.btn {
  width: 130px;
  border: 2px solid #333;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: white;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  opacity: 1;
  transform: translateX(-150px);
}

.back-to-position.to-left {
  opacity: 1;
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}